<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.gamesapp.principal_android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.cadastro.EmailActivity"
            android:label="@string/title_activity_email"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.cadastro.CodConfirmacaoActivity"
            android:label="@string/title_activity_cod_confirmacao"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.cadastro.DadosGeraisActivity"
            android:label="@string/title_activity_dados_gerais"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.DadosAtividadeActivity"
            android:label="@string/title_activity_dados_atividade"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.TabelaActivity"
            android:label="@string/title_activity_tabela"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.AlteraSenhaActivity"
            android:label="@string/title_activity_altera_senha"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.InformacoesActivity"
            android:label="@string/title_activity_informacoes"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>